
*
{
    padding: 0px;
    margin: 0px;
}
body
{

    background-color: #f0f4f5;
}
/* navbar */

.navbar {
    /* border: 1px solid red; */
  }
  .header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 100px;
  }
  .header-section ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 40px;
     padding: 0px 110px;
    color: black;
    font-size: larger;
    font-weight: bolder;
  }
  .header-section ul li a {
    color: black;
    text-decoration: none;
    font-size: larger;
  }



